/* Animated Quarto Title Block */
.quarto-title-block {
    background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
    background-size: 400% 400%;
    animation: gradientShift 8s ease infinite;
    color: white;
    padding: 3rem 2rem;
    border-radius: 20px;
}


/* Gradient Animation */
@keyframes gradientShift {
    0% {
        background-position: 0% 50%;
    }

    25% {
        background-position: 100% 0%;
    }

    50% {
        background-position: 100% 100%;
    }

    75% {
        background-position: 0% 100%;
    }

    100% {
        background-position: 0% 50%;
    }
}

/* Responsive */
@media (max-width: 768px) {
    .quarto-title-block {
        padding: 2rem 1.5rem;
    }
}